//Colors
$primary-color: #0288d1;
$secondary-color: #0277bd;

//Fonts
$body-font: 'customfont', Arial, Helvetica, sans-serif;
$title-font: 'customfont', Arial, Helvetica, sans-serif;

//Colors
$color-header-bg: #8BC9EE;

//Susy grid setup
$susy: (
  columns: 12
);