//Colors
$primary-color: #6699cc;
$secondary-color: #336699;
$hover-color: #f7f7f7;
$text-color: #292929;

//Fonts
$body-font: 'customfont', Arial, Helvetica, sans-serif;
$title-font: 'customfont', Arial, Helvetica, sans-serif;

//Colors
$title-color: #4D80B3;