//Colors
$primary-color: #337ab7;
$secondary-color: #0277bd;
$hover-color: #f7f7f7;
$text-color: #666;

//Fonts
$body-font: 'customfont', Arial, Helvetica, sans-serif;
$title-font: 'customfont', Arial, Helvetica, sans-serif;

//Colors
$color-header-bg: #8BC9EE;

//Susy grid setup
$susy: (
  columns: 12
);