body{
	background: #FFF;
	font-size: 14px;
}

.site-border{
	position: fixed;
	display: block;
    height: 4px;
    background: $primary-color;
    z-index: 20;
    width: 100%;
    left: 0px;
    top: 0px;
}

#content{
	padding-top: 20px;
	padding-bottom: 60px;
	min-height: 100%;
}
