.m-info{
  	padding-top: 20px;
  	.info-logo{
  		display: block;
  		margin: 12% auto 0px auto;
  		max-width: 80%;
		@media (min-width: 768px) {
			width: 500px;
		}
  	}
  	.info-body{
  		color: $secondary-color;
  		display: block;
  		margin: 0px auto 0px auto;
  		max-width: 80%;
		@media (min-width: 768px) {
			width: 500px;
		}
		.title{
			font-size: 17px;
		}
		.body{
			font-size: 15px;
			text-align: right;
			a{
				color: $secondary-color;
			}
		}
  	}
}