.m-comments{
	// padding-bottom: 10px;
	border-left: 1px solid $primary-color;
	> .comments-list{
			list-style: none;
			padding-left: 20px;
			// border-left: 2px solid $primary-color;
			margin-bottom: 20px;
			max-width: 945px;
	}
	.comments-text{
		// color: $primary-color;
		font-size: 14px;
		// padding-bottom: 30px;

	}
	.comments-author{
		color: $primary-color;
		font-size: 15px;
	}
	.comments-info{
		font-size: 13px;
		color: #666;
	}
	.comments-text{
		font-size: 14px;
		color: #666;
		word-wrap: break-word;
	}
	.comments-item{
		// max-width: 800px;
	}
}