.m-post{
	.loader{
		margin-left: 10px;
	}
	.post-block{
		margin: 0px 0px 5px 0px;
		padding: 8px;
		max-width: 915px;
		&:hover{
			background-color: $hover-color;
		}
		.post-title{
			font-size: 19px;
			color: $title-color;
			&:visited{
				color: $secondary-color;
			}
		}
		.post-subreddit{
			font-size: 14px;
			color: $text-color;
		}
		.post-text{
			font-size: 14px;
			color: $text-color;
			margin-top: 3px;
			margin-bottom: 3px;
			word-wrap: break-word;
		}
		.post-footer{
			color: $text-color;
			& a{
				color: $text-color;
			}
		}
	}
}