.l-home{
  	position: relative;
  	z-index: 0;
  	.home-logo{
		margin: 10% auto 35px auto;
		max-width: 80%;
	}
	.home-search-bar{
		margin: auto;
		max-width: 90%;
	}
	.btn{
		background-color: $primary-color;
		border-radius: 0px;
		&:hover{
			background-color: $secondary-color;
		}
	}
	i{
		color: white;
	}
	input{
		border-radius: 0px;
		&:focus{
			border-color: $primary-color;
			box-shadow: none;
		}
	}
  	@media (min-width: 768px) {
		.home-logo{
			// margin: 110px auto 35px auto;
			width: 450px;
		}
		.home-search-bar{
			margin: auto;
			max-width: 700px;
		}
	}
}